:root {
	font-family: SF Pro Display;
	line-height: normal;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--bg-gradient: linear-gradient(#00000000, #150534AC, #000000E6, #090119, #000000, #05010E);
}

body {
	margin: 0;
	display: flex;
	min-height:	100vh;
}

body {
	background-image: var(--bg-gradient), url('/img/bg.png');
	background-image: var(--bg-gradient), url('/img/bg.webp');

	background-repeat: no-repeat;
	background-position-x: 50%;
	background-size: contain;
	background-color: black;
}

html.is-se {
	background-position-y: -1.5rem;
}

body::before {
    content: " ";
    background-color: #D613FC9E;
    display: block;
    width: 100%;
    filter: blur(50.28821563720703px);
    position: absolute;
    top: -4rem;
    height: 8rem;
}

#app {
	width: 100%;
	position: relative;
}

a {
	color: rgba(255, 255, 255, 0.50);
	text-decoration: none;

	font-size: 0.78125rem;
	letter-spacing: 0.03606rem;
}

a:hover {
	text-decoration: underline;
}

.is-se [render-if-not-se] {
	display: none !important;
}

.is-not-se [render-if-se] {
	display: none !important;
}