.status-bar-se {
	height: 1rem;
	font-size: 0.75rem;
	padding: 0.15rem 0.38rem;

	display: flex;
	justify-content: space-between;

	font-family: SF Pro Display;
}

.status-bar-se__time {
	font-weight: 600;
}

.status-bar-se__right {
	display: flex;
	align-items: center;
	gap: 0.2rem;
}

.status-bar-se__left {
	display: flex;
	align-items: center;
}

.status-bar-se__left span {
	margin-left: 0.22rem;
	margin-right: 0.4rem;
	letter-spacing: 0.04rem;
}