.status-bar-se {
	height: 1rem;
	font-size: 0.75rem;
	padding: 0.15rem 0.31rem;

	display: flex;
	justify-content: space-between;

	font-family: SF Pro Display;
}

.status-bar-se__time {
	font-weight: 600;
}

.status-bar-se__right {
	display: flex;
	align-items: center;
	gap: 0.15rem;
}

.status-bar-se__left {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}